.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.navbar .menu-icon {
    display: none;
    color: #495057;
}

@media (max-width: 900px) {
    .navbar .menu-icon {
        display: block;
    }
}

.navbar .logo-container p {
    font-size: 12px;
    font-weight: 500;
    color: #495057;
    margin-top: -5px;
}

.navbar .logo {
    width: max(10%, 80px);
}

.navbar .profile {
    width: 40px;
}