.food-display{
    margin-top: 30px;
}

.food-display-header .back-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #747474;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    transition: 0.2s;
}

.food-display-header .back-btn:hover {
    color: tomato;
}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
